<%= form_for :session do |f| %>
  <h1>Login</h1>
  <%= f.text_field :username, placeholder: "User name" %><br>
  <%= f.password_field :password, placeholder: "Password"%><br>
  <%= f.submit "Login"%>
<% end%>
